In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# 1 Load the housing_price dataset into DataFrame

In [4]:
df = pd.read_csv('housing_price.csv')
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15,5612,1283,1015,472,1.4936,66900
1,-114.47,34.40,19,7650,1901,1129,463,1.8200,80100
2,-114.56,33.69,17,720,174,333,117,1.6509,85700
3,-114.57,33.64,14,1501,337,515,226,3.1917,73400
4,-114.57,33.57,20,1454,326,624,262,1.9250,65500
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52,2217,394,907,369,2.3571,111400
16996,-124.27,40.69,36,2349,528,1194,465,2.5179,79000
16997,-124.30,41.84,17,2677,531,1244,456,3.0313,103600
16998,-124.30,41.80,19,2672,552,1298,478,1.9797,85800
16999,-124.35,40.54,52,1820,300,806,270,3.0147,94600

In [5]:
df.tail()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
16995,-124.26,40.58,52,2217,394,907,369,2.3571,111400
16996,-124.27,40.69,36,2349,528,1194,465,2.5179,79000
16997,-124.30,41.84,17,2677,531,1244,456,3.0313,103600
16998,-124.30,41.80,19,2672,552,1298,478,1.9797,85800
16999,-124.35,40.54,52,1820,300,806,270,3.0147,94600

In [6]:
# 2. Find the null value and drop then, If any
df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [7]:
x= df.drop("median_house_value", axis='columns')
y= df['median_house_value']

In [8]:
print("independent variable:",x)
print("dependent variable:",y)

independent variable:        longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                  15         5612            1283
1        -114.47     34.40                  19         7650            1901
2        -114.56     33.69                  17          720             174
3        -114.57     33.64                  14         1501             337
4        -114.57     33.57                  20         1454             326
...          ...       ...                 ...          ...             ...
16995    -124.26     40.58                  52         2217             394
16996    -124.27     40.69                  36         2349             528
16997    -124.30     41.84                  17         2677             531
16998    -124.30     41.80                  19         2672             552
16999    -124.35     40.54                  52         1820             300

       population  households  median_income
0            1015         472         1.4936
1            1129         463         1.8200
2             333         117         1.6509
3             515         226         3.1917
4             624         262         1.9250
...           ...         ...            ...
16995         907         369         2.3571
16996        1194         465         2.5179
16997        1244         456         3.0313
16998        1298         478         1.9797
16999         806         270         3.0147

[17000 rows x 8 columns]
dependent variable: 0         66900
1         80100
2         85700
3         73400
4         65500
          ...
16995    111400
16996     79000
16997    103600
16998     85800
16999     94600
Name: median_house_value, Length: 17000, dtype: int64

In [9]:
# 3. Split data into two DataFrames x and y based on dependent andindependent variables
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=10,test_size=0.20,)

In [10]:
# 4. Split x and y into train and test data set based on test size as 0.2 and random_state as 10
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((13600, 8), (3400, 8), (13600,), (3400,))

In [11]:
from sklearn.linear_model import LinearRegression

In [12]:
reg = LinearRegression().fit(x_train,y_train)

In [13]:
# 6. Print R2 vallue,coefficient and intercept
print("r2 value:",reg.score(x_train,y_train))
print("Cofficient",reg.coef_)
print("Intercept",reg.intercept_)

r2 value: 0.6394488739765447
Cofficient [-4.34225673e+04 -4.34584915e+04  1.15417922e+03 -8.34683693e+00
  1.14234465e+02 -3.87425498e+01  5.04252279e+01  4.02554220e+04]
Intercept -3635200.010897333

In [14]:
# 7. Compare actual and predicted values.

In [15]:
y_pred = reg.predict(x_test)

In [16]:
y_pred

array([ -8475.67520212, 490876.39423318, 112662.10798953, ...,
       156916.65206654, 283319.26612844, 324366.4143578 ])

In [17]:
df1 = pd.DataFrame({'Actual':y_test,'Predict':y_pred})

In [18]:
df1

       Actual        Predict
10270   96100   -8475.675202
1528   500001  490876.394233
7778   177200  112662.107990
10724   55000  218093.753334
3481   220800  207600.925885
...       ...            ...
3157   250400  207638.918918
5505   232500  221868.385353
7639   196400  156916.652067
5576   219200  283319.266128
16336  487800  324366.414358

[3400 rows x 2 columns]

In [19]:
# 8. Print the final summary
# !pip install statsmodels
!pip install --upgrade --no-deps statsmodels

Requirement already satisfied: statsmodels in c:\users\admin\anaconda3\lib\site-packages (0.13.5)
Collecting statsmodels
  Downloading statsmodels-0.14.0-cp39-cp39-win_amd64.whl (9.4 MB)
Installing collected packages: statsmodels
  Attempting uninstall: statsmodels
    Found existing installation: statsmodels 0.13.5
    Uninstalling statsmodels-0.13.5:
      Successfully uninstalled statsmodels-0.13.5
Successfully installed statsmodels-0.14.0

In [21]:
!pip3 install statsmodels

Requirement already satisfied: statsmodels in c:\users\admin\anaconda3\lib\site-packages (0.14.0)
Requirement already satisfied: scipy!=1.9.2,>=1.4 in c:\users\admin\anaconda3\lib\site-packages (from statsmodels) (1.7.3)
Requirement already satisfied: pandas>=1.0 in c:\users\admin\anaconda3\lib\site-packages (from statsmodels) (1.4.2)
Requirement already satisfied: patsy>=0.5.2 in c:\users\admin\anaconda3\lib\site-packages (from statsmodels) (0.5.2)
Requirement already satisfied: packaging>=21.3 in c:\users\admin\anaconda3\lib\site-packages (from statsmodels) (21.3)
Requirement already satisfied: numpy>=1.18 in c:\users\admin\anaconda3\lib\site-packages (from statsmodels) (1.21.5)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\admin\anaconda3\lib\site-packages (from packaging>=21.3->statsmodels) (3.0.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas>=1.0->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas>=1.0->statsmodels) (2021.3)
Requirement already satisfied: six in c:\users\admin\anaconda3\lib\site-packages (from patsy>=0.5.2->statsmodels) (1.16.0)

In [26]:
# from sklearn.linear_model import ElasticNet
# import statsmodels.api as sm
# X2 = sm.add_constant(x)
# est = sm.OLS(y, X2)
# est2 = est.fit()
# print(est2.summary())